<%= render "shared/login_form" %>

<h4>最新ニュース</h4>
<ul>
  <% 5.times do |i| %>
  <li><%= link_to "ニュースの見出し", "#" %></li>
  <% end %>
</ul>

<h4>会員のブログ</h4>
<ul>
  <% 5.times do |i| %>
  <li><%= link_to "ブログの見出し", "#" %></li>
  <% end %>
</ul>